
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:InstantRo0000001&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Instant Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/monopoly.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:vctlz20yfnmp1ylr&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:wzg6kdkad1oe7m5k&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    VIP Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:48z5pjps3ntvqc1b&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Auto-Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:f1f4rm9xgh4j3u2z&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Auto-Roulette La Partage
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:SpeedAutoRo00001&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Auto Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:ose2mp8l5yhokn7p&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    French Roulette Gold
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:7x0b1tgh7agmf6hv&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Immersive Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=roulette:01rb77cq1gtenhmo&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Auto-Roulette VIP
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/rng_roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=rng-roulette:rng-rt-european0&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    First Person Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/rng_roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=rng-roulette:rng-rt-lightning&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    First Person Lightning Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=americanroulette:AmericanTable001&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    American Roulette
                </h4>
            </div>
        </a>
    </div>

</div>
