
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:k4r2ejwx4eqqb6tv&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Blackjack K
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:h463tlq1rhl1lfr2&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack Platinum VIP
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/rng_blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=rng-blackjack:rng-bj-standard0&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    First Person Blackjack
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/rng_blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=rng-blackjack:rng-bj-standard1&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    First Person Blackjack
                </h4>
            </div>
        </a>
    </div>
</div>

<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:xphpcthv8e6ivc16&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack B
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:rdefcn4sffgo39l7&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack Diamond VIP
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:SpeedBlackjack01&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed VIP Blackjack A
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:nbjetztthawanhey&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Blackjack M
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:s63nx2mpdomgjagb&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP H
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">

    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:l5aug44hhzr3qvxs&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP C
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:k4r2hyhw4eqqb6us&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Blackjack L
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:35qh0rzz0gqacsth&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Blackjack J
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:sni5cza6d1vvl50i&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack Party
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:ejx1a04w4ben0mou&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack Fortune VIP
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:0mvn914lkmo9vaq8&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP A
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:xqyb2u7fqkexxpa0&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Blackjack D
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:nveq66tfmn6n4moi&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP T
                </h4>
            </div>
        </a>
    </div>

</div>

<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:bghflgi59db7d7r2&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP X
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:oa7fpshyqfueqxuj&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP Z
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:1xwfnktjybsolkn6&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Blackjack G
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:ylq4gmw8yl22u5dj&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Speed Blackjack E
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:psm2um7k4da8zwc2&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP E
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:qckwjf2o52r9ikeb&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack Silver D
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:gkmq0o2hryjyqu30&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack Silver A
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:oa7fvyaiqfueq5ob&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP Q
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:nsxqkywul2nzcwwh&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP P
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:ncajaczadikqca3u&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP L
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:jhs44mm0v3fi3aux&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack C
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=blackjack:qlrc3fq3v7p6awm4&System=998">*@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Blackjack Silver C
                </h4>
            </div>
        </a>
    </div>
</div>
