
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/first_person_dragon_tiger.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=rng-dragontiger:rng-dragontiger0&System=998"> *@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    First Person Dragon Tiger
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/craps.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=craps:Craps00000000001&System=998"> *@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Craps
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/first_person_top_card.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=rng-topcard:rng-topcard00001&System=998"> *@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    First Person Top Card
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/dragon_tiger.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=dragontiger:DragonTiger00001&System=998"> *@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Dragon Tiger
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/rng_dream_catcher.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=rng-moneywheel:rng-dreamcatcher&System=998"> *@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    First Person Dream Catcher
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/super_sic_bo.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=sicbo:SuperSicBo000001&System=998"> *@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Super Sic Bo
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/side_bet_city.jpg" alt="">
            
        </div>
        @*<a href="/home/GameDetail?ID=sidebetcity:SBCTable00000001&System=998"> *@
            <a data-toggle="modal" href="#notification"> <div class="part-text">
                <h4 class="game-title">
                    Side Bet City
                </h4>
            </div>
        </a>
    </div>
</div>
