


@*//danh sách các bàn của game*@
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=103&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Baccarat
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/blackjack.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=105&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Blackjack
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/roulette.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=104&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Roulettes
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/holdem.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=108&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Casino Holdem
                </h4>
            </div>
        </a>
    </div>
</div>
@*/////*@
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=baccarat:obj64qcnqfunjelj&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat J
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/monopoly.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=baccarat:NoCommBac0000001&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    No Commission Baccarat
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">
        </div>
        @*<a href="/home/GameDetail?ID=baccarat:nmwde3fd7hvqhq43&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat F
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=baccarat:k2oswnib7jjaaznw&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Baccarat Control Squeeze
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>
        @*<a href="/home/GameDetail?ID=baccarat:zixzea8nrf1675oh&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Baccarat Squeeze
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:ndgv45bghfuaaebf&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat E
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:ndgvz5mlhfuaad6e&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat D
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:ndgvwvgthfuaad3q&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat C
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:nxpj4wumgclak2lx&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat H
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:ndgv76kehfuaaeec&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    No Comm Speed Baccarat A
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:60i0lcfx5wkkv3sy&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Baccarat B
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">

    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:nxpkul2hgclallno&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat I
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:ndgvs3tqhfuaadyg&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Baccarat C
                </h4>
            </div>
        </a>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:leqhceumaq6qfoug&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat A
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:oytmvb9m1zysmc44&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Baccarat A
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:lv2kzclunt2qnxo5&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat B
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=baccarat:nmwdzhbg7hvqh6a7&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Speed Baccarat G
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/holdem.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=holdem:HoldemTable00001&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Casino Hold'em
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/first_person_baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=rng-baccarat:rngbaccarat00000&System=998"> *@
        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    First Person Baccarat
                </h4>
            </div>
        </a>
    </div>

</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="single-game">
        <div class="part-img">
            <img src="https://static.egamings.com/games/evosw/baccarat.jpg" alt="">

        </div>

        @*<a href="/home/GameDetail?ID=blackjack:oqicznoauwbl46am&System=998"> *@

        <a data-toggle="modal" href="#notification">
            <div class="part-text">
                <h4 class="game-title">
                    Blackjack VIP Alpha
                </h4>
            </div>
        </a>
    </div>
</div>


