<h3 class="notificationaaaa" style="margin-top: 19px;
        text-align: center;
        background: blueviolet;
        font-family: Arial, Helvetica, sans-serif
    ">
    Maintenace Notification<br>
    Website maintenace is from 12:00 pm on March 12, 2021 to 12:00 am on March 13, 2021 (UTC Time: 5:00 am on March 12, 2021 to 5 pm on March 12, 2021)<br>
	Sorry for the inconvenience
</h3>
