@model Outsourcing.Data.Models.WebsiteAttribute
@{
        var sdt = "https://zalo.me/" + Model.Value;
        
}
    <a href="@sdt" rel="nofollow" target="_blank"><i class="ticon-zalo-circle2"></i></a>