
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{}
<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    <div class="breadcrumb-img">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content">
                    <h2 class="title">About Us</h2>
                    <p>Big Player CLub has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- iq feature begin -->
<div class="about-us">
    <div class="container">
        <div class="row justify-content-xl-end justify-content-lg-end justify-content-sm-center">
            <div class="col-xl-6 col-lg-6 col-sm-10 col-md-12 d-xl-flex d-lg-flex d-block align-items-center">
                <div>
                    <div class="part-text">
                        <h2>We Discover The Best <br />Blockchain & CryptoGaming</h2>
                        <p>
                            Big Player Club – Your Intergalactic Casino.

                            Made by players for players. Indulge in the cosmic realm of Big Player Club’s games and the intergalactic journey in the conquest to find the eternal crystal.

                            Big Player Club is the essence of gambling. From spinning to winning we ensure all gaming experiences at Big Player Club feel special. The playing sensation will appear like nothing else. There is simply no reason not to become a part of this breathtaking story.
                        </p>
                        <a href="/ware-game" class="def-btn">play now</a>
                    </div>
                    <div class="part-statics">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-sm-4">
                                <div class="single-statics">
                                    <div class="part-icon">
                                        <img src="/Content/caseno/img/svg/virtual-reality.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="statics-count">
                                            1.5M
                                        </span>
                                        <span class="statics-title">
                                            Users
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-4">
                                <div class="single-statics">
                                    <div class="part-icon">
                                        <img src="/Content/caseno/img/svg/poker-cards.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="statics-count">
                                            500+
                                        </span>
                                        <span class="statics-title">
                                            Games
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-4">
                                <div class="single-statics">
                                    <div class="part-icon">
                                        <img src="/Content/caseno/img/svg/globe.png" alt="">
                                    </div>
                                    <div class="part-text">
                                        <span class="statics-count">
                                            102+
                                        </span>
                                        <span class="statics-title">
                                            Countries
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-sm-10 col-md-12 offset-xl-1 offset-lg-1 offset-0">
                <div class="part-img">
                    <img src="/Content/caseno/img/new/44.jpg" alt="">
                    <div class="part-video">
                        <a href="/ware-game" data-video-id="WmsG0tnEMgI" class="js-video-button play-button">
                            <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-play fa-w-14 fa-fw fa-2x"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6zm-16.2 55.1l-352 208C45.6 483.9 32 476.6 32 464V47.9c0-16.3 16.4-18.4 24.1-13.8l352 208.1c10.5 6.2 10.5 21.4.1 27.6z" class=""></path></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- iq feature end -->
@Html.Action("getBannerPlaynow", "Home")
<!-- team begin -->
@*<div class="team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-sm-10">
                <div class="section-title style-2">
                    <h2>We Are CryptoGaming Exparts</h2>
                    <p>Big Player Club has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6 team-1">
                <div class="single-member">
                    <div class="part-img">
                        <img src="/Content/caseno/img/team/member-1.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="name">Sohure Danyel</span>
                        <span class="position">CEO & Head</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 team-2">
                <div class="single-member">
                    <div class="part-img">
                        <img src="/Content/caseno/img/team/member-2.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="name">Sohure Danyel</span>
                        <span class="position">CEO & Head</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 team-3">
                <div class="single-member">
                    <div class="part-img">
                        <img src="/Content/caseno/img/team/member-3.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="name">Sohure Danyel</span>
                        <span class="position">CEO & Head</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 team-4">
                <div class="single-member">
                    <div class="part-img">
                        <img src="/Content/caseno/img/team/member-4.png" alt="">
                    </div>
                    <div class="part-text">
                        <span class="name">Sohure Danyel</span>
                        <span class="position">CEO & Head</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- team end -->
<!-- testimonial begin -->
@*<div class="testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-sm-10">
                <div class="section-title style-2">
                    <h2>Feedback to Misco</h2>
                    <p>Misco has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-sm-10">
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="single-testimonial">
                        <div class="part-img">
                            <img src="/Content/caseno/img/testimonial/comment-user-1.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="part-img">
                            <img src="/Content/caseno/img/testimonial/comment-user-2.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="part-img">
                            <img src="/Content/caseno/img/testimonial/comment-user-3.jpg" alt="">
                        </div>
                        <div class="part-text">
                            <i class="icon-for-quot fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt dignissimos laborum praesentium illo dolorem, fuga commodi? Laudantium totam porro quod nihil eius!</p>
                            <span class="position">
                                Player
                            </span>
                            <span class="user-name">
                                Illustino Calibia
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- testimonial end -->
<!-- contact begin -->
<div class="contact">
    <div class="container container-contact">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-sm-10">
                <div class="section-title">
                    <h2>Get in touch with us</h2>
                    <p>Big Player Club has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Big Player Club</p>
                </div>
            </div>
        </div>
        <div class="bg-tamim">
            <div class="row justify-content-around">
                <div class="col-xl-6 col-lg-6 col-sm-10 col-md-6">
                    <div class="part-form">
                        <form>
                            <input type="text" placeholder="Players Name">
                            <input type="text" placeholder="Players Email">
                            <textarea placeholder="Write to Us..."></textarea>
                            <button class="submit-btn def-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-10 col-md-6">
                    <div class="part-address">
                        <div class="addressing">
                            <div class="single-address">
                                <h4>Email</h4>
                                <p>
                                    admin@avataclub.com<br />
                                    support@avataclub.com
                                </p>
                            </div>
                            <div class="single-address">
                                <h4>Telegram</h4>
                                <p>
                                    Gmail: baohiemava@gmail.com<br />
                                    Group support: @@baohiemava
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact end -->