
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{}
<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    <div class="breadcrumb-img">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content">
                    <h2 class="title">Blog Posts</h2>
                    <p>Misco has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- blog begin -->
<div class="news blog-page" id="blog">
    <div class="container">
        <div class="blog-filter-area">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-sm-10 col-md-4">
                    <div class="blog-search">
                        <form>
                            <input type="text" placeholder="seach the blog...">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-10 col-md-4">
                    <div class="filtering">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter By Category
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action Games</a>
                                <a class="dropdown-item" href="#">Intellectual</a>
                                <a class="dropdown-item" href="#">Online Casino</a>
                                <a class="dropdown-item" href="#">Lottery Draw</a>
                                <a class="dropdown-item" href="#">Chess Master</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-10 col-md-4">
                    <div class="filtering">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filter By Tags
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <a class="dropdown-item" href="#">blog</a>
                                <a class="dropdown-item" href="#">games</a>
                                <a class="dropdown-item" href="#">casino</a>
                                <a class="dropdown-item" href="#">racing</a>
                                <a class="dropdown-item" href="#">fighting</a>
                                <a class="dropdown-item" href="#">action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-sm-center justify-content-md-start">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-news">
                    <div class="part-img">
                        <img src="/Content/caseno/img/news/news-1.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Horizon: 0 Dawn system requirements are here</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing eitse
                            labore et dolore magna aliqua. Ut enim ad minim veniam
                            laboris nisi ut aliquip exea commodo.
                        </p>
                        <a href="#0" class="def-btn def-small">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-news">
                    <div class="part-img">
                        <img src="/Content/caseno/img/news/news-3.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">A new mod adds the classic blocky sword into Witcher</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing eitse
                            labore et dolore magna aliqua. Ut enim ad minim veniam
                            laboris nisi ut aliquip exea commodo.
                        </p>
                        <a href="#0" class="def-btn def-small">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-news">
                    <div class="part-img">
                        <img src="/Content/caseno/img/news/news-2.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Marvel's Spider-Man: Game of the Year Edition Game </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing eitse
                            labore et dolore magna aliqua. Ut enim ad minim veniam
                            laboris nisi ut aliquip exea commodo.
                        </p>
                        <a href="#0" class="def-btn def-small">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-news">
                    <div class="part-img">
                        <img src="/Content/caseno/img/news/news-4.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Horizon: 0 Dawn system requirements are here</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing eitse
                            labore et dolore magna aliqua. Ut enim ad minim veniam
                            laboris nisi ut aliquip exea commodo.
                        </p>
                        <a href="#0" class="def-btn def-small">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-news">
                    <div class="part-img">
                        <img src="/Content/caseno/img/news/news-5.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">A new mod adds the classic blocky sword into Witcher</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing eitse
                            labore et dolore magna aliqua. Ut enim ad minim veniam
                            laboris nisi ut aliquip exea commodo.
                        </p>
                        <a href="#0" class="def-btn def-small">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-news">
                    <div class="part-img">
                        <img src="/Content/caseno/img/news/news-6.jpg" alt="">
                    </div>
                    <div class="part-text">
                        <h3 class="title">Marvel's Spider-Man: Game of the Year Edition Game </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing eitse
                            labore et dolore magna aliqua. Ut enim ad minim veniam
                            laboris nisi ut aliquip exea commodo.
                        </p>
                        <a href="#0" class="def-btn def-small">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-xl-start justify-content-lg-start justify-content-sm-center justify-content-md-start">
            <div class="col-xl-10 col-lg-10 col-sm-10">
                <div class="misco-pagination">
                    <ul>
                        <li>
                            <a href="#0"><i class="fas fa-chevron-left"></i></a>
                            <a href="#0" class="active">1</a>
                            <a href="#0">2</a>
                            <a href="#0">3</a>
                            <a href="#0"><i class="fas fa-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog end -->
