
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{}
<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    <div class="breadcrumb-img">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="breadcrumb-content">
                    <h2 class="title">Blog Details</h2>
                    <p>Misco has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- blog details begin -->
<div class="blog-details">
    <div class="container">
        <div class="part-post">
            <div class="part-img">
                <img src="/Content/caseno/img/news/blog-details.jpg" alt="">
            </div>
            <div class="part-meta">
                <div class="left-side">
                    <ul>
                        <li>
                            <span class="icon">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <span class="text">
                                20 January, 2020
                            </span>
                        </li>
                        <li>
                            <span class="icon">
                                <i class="far fa-user"></i>
                            </span>
                            <span class="text">
                                By Mostaq Siramp
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="right-side">
                    <ul>
                        <li>
                            <div class="single-meta">
                                <span class="icon">
                                    <i class="fas fa-heart"></i>
                                </span>
                                <span class="text">9,858</span>
                            </div>
                        </li>
                        <li>
                            <div class="single-meta">
                                <span class="icon">
                                    <i class="fas fa-comments"></i>
                                </span>
                                <span class="text">7,637</span>
                            </div>
                        </li>
                        <li>
                            <div class="single-meta">
                                <span class="icon">
                                    <i class="fas fa-share-alt"></i>
                                </span>
                                <span class="text">5,973</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part-text">
                <h2 class="title">Every games player deserves the chance to try out.</h2>
                <p>
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                    who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit amet, consectetur adipis
                    cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that
                    doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.
                    The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with the
                    ir software. Today it's seen all around the web; on templates, websites, and stock designs.
                </p>
                <p>
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                    who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit amet, consectetur adipis
                    cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                    who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit amet, consectetur adipis
                    cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that
                    doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.
                    The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with the
                    ir software. Today it's seen all around the web; on templates, websites, and stock designs.
                </p>
                <div class="row text-with-img">
                    <div class="col-xl-5 col-lg-12 this-l-size">
                        <img src="/Content/caseno/img/news/blog-details-2.jpg" alt="" class="text-img">
                    </div>
                    <div class="col-xl-7 col-lg-12 this-l-size">
                        <p>
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, grap
                            hic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                            who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in
                            a type specimen book. It usually begins with:  Lorem ipsum dolor sit amet, consectetur adipis
                            cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                    </div>
                </div>
                <p>
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                    who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit amet, consectetur adipis
                    cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that
                    doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.
                    The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with the
                    ir software. Today it's seen all around the web; on templates, websites, and stock designs.
                </p>
                <p>
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                    who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit amet, consectetur adipis
                    cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that
                    doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.
                    The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with the
                    ir software. Today it's seen all around the web; on templates, websites, and stock designs.
                </p>
            </div>
        </div>
        <div class="part-comment">
            <h3 class="title">Comments (30+)</h3>
            <div class="all-comments">
                <div class="single-comment">
                    <div class="img-box">
                        <div class="part-user">
                            <img src="/Content/caseno/img/news/comment-user-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="part-comment-text">
                        <span class="user-name">Haywood Grigsby</span>
                        <span class="date-of-comment">22 June, 2020</span>
                        <p>
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesett
                            who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit
                            cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. The purpose of lorem ipsum is to create a natural looking block of text (sentence, par
                            it's seen all around the web; on templates, websites, and stock designs.
                        </p>
                    </div>
                    <button class="reply-comment">
                        <i class="fas fa-share"></i>
                        Reply
                    </button>
                </div>
                <div class="single-comment reply">
                    <div class="img-box">
                        <div class="part-user">
                            <img src="/Content/caseno/img/news/comment-user-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="part-comment-text">
                        <span class="user-name">Haywood Grigsby</span>
                        <span class="date-of-comment">22 June, 2020</span>
                        <p>
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesett
                            who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit
                            cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. The purpose of lorem ipsum is to create a natural looking block of text (sentence, par
                            it's seen all around the web; on templates, websites, and stock designs.
                        </p>
                    </div>
                    <button class="reply-comment">
                        <i class="fas fa-share"></i>
                        Reply
                    </button>
                </div>
                <div class="single-comment">
                    <div class="img-box">
                        <div class="part-user">
                            <img src="/Content/caseno/img/news/comment-user-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="part-comment-text">
                        <span class="user-name">Haywood Grigsby</span>
                        <span class="date-of-comment">22 June, 2020</span>
                        <p>
                            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesett
                            who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:  Lorem ipsum dolor sit
                            cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. The purpose of lorem ipsum is to create a natural looking block of text (sentence, par
                            it's seen all around the web; on templates, websites, and stock designs.
                        </p>
                    </div>
                    <button class="reply-comment">
                        <i class="fas fa-share"></i>
                        Reply
                    </button>
                </div>
            </div>
        </div>
        <div class="comment-form">
            <h3 class="title">Leave A Comment</h3>
            <form>
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <input type="text" placeholder="First Name*">
                        <input type="text" placeholder="Last Name*">
                        <input type="email" placeholder="Email*">
                        <input type="text" placeholder="Phone No:*">
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <textarea placeholder="Message*"></textarea>
                    </div>
                </div>
                <button class="submit-btn" type="submit">Submit A Comment <i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>
</div>

