@{
    var dat = (IEnumerable<Outsourcing.Data.Models.WebsiteAttribute>)ViewBag.social;

    HttpCookie cookie = Request.Cookies["_culture"];
}
@if (cookie.Value == "vi" || cookie.Value == "")
{
    <div class="page-title-section section" data-bg-image="Content/TueDuc/assets/images/bg/page-title-1.jpg" style="background-image: url(&quot;assets/images/bg/page-title-1.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page-title">
                        <h1 class="title">Sứ mệnh - Tầm nhìn</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Sứ mệnh - Tầm nhìn</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section section-padding">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title2 text-center">
                <h2 class="title">Sứ mệnh</h2>
            </div>
            <!-- Section Title End -->

            <div class="row align-items-center row-cols-md-1 row-cols-sm-2 row-cols-1 learts-mb-n30">
                - Trở thành công ty uy tín, với những chiến lược phát triển bền vững. Quyết tâm trở thành nhà phân phối dược phẩm, thực phẩm chức năng và mỹ phẩm chuyên nghiệp hàng đầu trong nước. <br />
                - Là đối tác tin cậy hợp tác & phát triển của những nhà sản xuất trong nước và nước ngoài.
            </div><br /><br />
            <div class="img">
                <img src="~/Content/TueDuc/assets/images/about/about-5.jpg" alt="tueduchealthy.vn">
            </div>
        </div>
    </div>

    <div class="section section-padding border-top border-bottom">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title2 text-center">
                <h2 class="title">Tầm nhìn</h2>
            </div>
            <!-- Section Title End -->

            <div class="row align-items-center row-cols-md-3 row-cols-sm-2 row-cols-1 learts-mb-n30">
                - Cống hiến cho xã hội những sản phẩm đạt chất lượng tốt, nhằm chăm sóc sức khỏe cho cộng đồng <br />
                - Luôn thỏa mãn nhu cầu khách hàng, cùng nhau phát triển, đảm bảo quyền lợi tối đa cho khách hàng và đối tác bằng những chính sách tốt nhất. <br />
                - Luôn lấy con người làm yếu tố then chốt trong sự nghiệp và phát triển, luôn hướng đến môi trường làm việc năng động, sáng tạo và cùng nhau chia sẽ, cùng nhau học hỏi, nhằm tạo ra một tập thể nhân viên ổn định & phát triển bền vững.
            </div><br /><br />
            <div class="img">
                <img src="~/Content/TueDuc/assets/images/about/about-6.jpg" alt="tueduchealthy.vn">
            </div>
        </div>
    </div>
}
else
{
    <div class="page-title-section section" data-bg-image="Content/TueDuc/assets/images/bg/page-title-1.jpg" style="background-image: url(&quot;assets/images/bg/page-title-1.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page-title">
                        <h1 class="title">Mission - Vision</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Sứ mệnh - Tầm nhìn</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section section-padding">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title2 text-center">
                <h2 class="title">Sứ mệnh</h2>
            </div>
            <!-- Section Title End -->

            <div class="row align-items-center row-cols-md-1 row-cols-sm-2 row-cols-1 learts-mb-n30">
                - Trở thành công ty uy tín, với những chiến lược phát triển bền vững. Quyết tâm trở thành nhà phân phối dược phẩm, thực phẩm chức năng và mỹ phẩm chuyên nghiệp hàng đầu trong nước. <br />
                - Là đối tác tin cậy hợp tác & phát triển của những nhà sản xuất trong nước và nước ngoài.
            </div><br /><br />
            <div class="img">
                <img src="~/Content/TueDuc/assets/images/about/about-5.jpg" alt="tueduchealthy.vn">
            </div>
        </div>
    </div>

    <div class="section section-padding border-top border-bottom">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title2 text-center">
                <h2 class="title">Tầm nhìn</h2>
            </div>
            <!-- Section Title End -->

            <div class="row align-items-center row-cols-md-3 row-cols-sm-2 row-cols-1 learts-mb-n30">
                - Cống hiến cho xã hội những sản phẩm đạt chất lượng tốt, nhằm chăm sóc sức khỏe cho cộng đồng <br />
                - Luôn thỏa mãn nhu cầu khách hàng, cùng nhau phát triển, đảm bảo quyền lợi tối đa cho khách hàng và đối tác bằng những chính sách tốt nhất. <br />
                - Luôn lấy con người làm yếu tố then chốt trong sự nghiệp và phát triển, luôn hướng đến môi trường làm việc năng động, sáng tạo và cùng nhau chia sẽ, cùng nhau học hỏi, nhằm tạo ra một tập thể nhân viên ổn định & phát triển bền vững.
            </div><br /><br />
            <div class="img">
                <img src="~/Content/TueDuc/assets/images/about/about-6.jpg" alt="tueduchealthy.vn">
            </div>
        </div>
    </div>
}


