@{
    ViewBag.Title = "MyAffilites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <style>
        /*    @@media (min-width: 768px) {
            .navbar-collapse.collapse {
                margin-bottom: 0 !important;
            }
        }*/
        .navbar {
            margin-bottom: 0 !important;
        }

        .me_aligns {
            float: right !important;
        }
    </style>
}

<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    <div class="breadcrumb-img">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content">
                    <h2 class="title">Promotions</h2>
                    <p>Misco has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- promotions begin -->
<div class="promotions">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-sm-10">
                <div class="section-title">
                    <h2>Our CryptoGames Promotion</h2>
                    <p>Misco has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-6">
                <div class="single-promotion" style="background: url('/Content/caseno/img/news/news-1.jpg')">
                    <div class="part-text">
                        <span class="sub-title">New Customer offer</span>
                        <h4 class="title">Daily Rewards for every player</h4>
                        <p>This Sports Promotion is available to qualifying customers until further notice. If we decide to withdraw this Sports Promotion, this will not impact any Qualifying Bets you have placed during the Promotional Period before such withdrawal.</p>
                        <a href="promotion-details.html" class="def-btn def-small">Claim Bonus</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6">
                <div class="single-promotion" style="background: url('/Content/caseno/img/news/news-2.jpg')">
                    <div class="part-text">
                        <span class="sub-title">New Customer offer</span>
                        <h4 class="title">3% Cashback of net loss</h4>
                        <p>This is a Gaming Bonus. More details about how a Gaming Bonus operates can be found in our General Casino Bonus Terms & Conditions. These terms can be accessed.</p>
                        <a href="promotion-details.html" class="def-btn def-small">Claim Bonus</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-promotion" style="background: url('/Content/caseno/img/news/news-3.jpg')">
                    <div class="part-text">
                        <span class="sub-title">0.5 BTC / $300 / 30,000 ₽</span>
                        <h4 class="title">110% second deposit bonus</h4>
                        <p>This is a Gaming Bonus. More details about how a Gaming Bonus operates can be found in our General Casino Bonus Terms & Conditions. These terms can be accessed.</p>
                        <a href="promotion-details.html" class="def-btn def-small">Claim Bonus</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="single-promotion" style="background: url('/Content/caseno/img/news/news-4.jpg')">
                    <div class="part-text">
                        <span class="sub-title">0.5 BTC / €500 / 30,000 ₽</span>
                        <h4 class="title">140% Third deposit bonus</h4>
                        <p>This is a Gaming Bonus. More details about how a Gaming Bonus operates can be found in our General Casino Bonus Terms & Conditions. These terms can be accessed.</p>
                        <a href="promotion-details.html" class="def-btn def-small">Claim Bonus</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-6">
                <div class="single-promotion" style="background: url('/Content/caseno/img/news/news-5.jpg')">
                    <div class="single-promotion-img">
                        <img src="/Content/caseno/img/promotion-pic-1.html" alt="">
                    </div>
                    <div class="part-text">
                        <span class="sub-title">0.1BTC / $50 / 500 ₽</span>
                        <h4 class="title">10% CASHBACK TUESDAY</h4>
                        <p>This Sports Promotion is available to qualifying customers until further notice. If we decide to withdraw this Sports Promotion, this will not impact any Qualifying Bets you have placed during the Promotional Period before such withdrawal.</p>
                        <a href="promotion-details.html" class="def-btn def-small">Claim Bonus</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6">
                <div class="single-promotion" style="background: url('/Content/caseno/img/news/news-6.jpg')">
                    <div class="single-promotion-img">
                        <img src="/Content/caseno/img/banner-2.html" alt="">
                    </div>
                    <div class="part-text">
                        <span class="sub-title">5.05 BTC / $200 / 55,000 ₽</span>
                        <h4 class="title">high-roller reload bonus</h4>
                        <p>This is a Gaming Bonus. More details about how a Gaming Bonus operates can be found in our General Casino Bonus Terms & Conditions. These terms can be accessed.</p>
                        <a href="promotion-details.html" class="def-btn def-small">Claim Bonus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-more-btn">
            <a href="#0" class="def-btn">View More Promotions</a><a class="btc-text" href="#0">Don't have BTC?</a>
        </div>
    </div>
</div>
<!-- promotions end -->
