
@{
    ViewBag.Title = "RegisterAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{}
<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    <div class="breadcrumb-img">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content">
                    <h2 class="title">Register An Account</h2>
                    <p>Misco has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Misco</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- register begin -->
<div class="register">
    <div class="container">
        <div class="reg-body">
            <form>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <h4 class="sub-title">Personal Information</h4>
                        <input type="text" placeholder="User Name*">
                        <input type="password" placeholder="Password*">
                        <input type="password" placeholder="Confirmation Password*">
                        <input type="email" placeholder="Email*">
                        <input type="text" placeholder="Affilate ID*">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 additional-info">
                        <h4 class="sub-title">Additional Information</h4>
                        <input type="text" placeholder="Phone No:*">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                        <input type="text" placeholder="ETH Address*">
                    </div>
                </div>
                <div class="term-condition">
                    <h4 class="title">Terms and Conditions</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor.
                        <br>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ipsum dolor sit
                        amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios5" value="option2">
                            <label class="form-check-label" for="exampleRadios5">
                                I agree to the terms &amp; conditions.
                            </label>
                            <p>(*) We will never share your personal information with third parties.</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <button class="def-btn btn-form">Secure Sign Up <i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- register end -->
