
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- subheader -->
<section id="subheader" data-bgimage="url(/Content/stone/images/background/bg-19.jpg)" data-stellar-background-ratio=".2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Products</h1>
                <ul class="crumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="sep">/</li>
                    <li>Our Products</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="products row">
                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/1a.jpg" class="pi-1 img-responsive" alt="">
                                    <img src="/Content/stone/images/shop/1b.jpg" class="pi-2 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Triple Seat Sofa</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$420</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/2a.jpg" class="pi-1 img-responsive" alt="">
                                    <img src="/Content/stone/images/shop/2b.jpg" class="pi-2 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Single Seat Sofa</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$210</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/3a.jpg" class="pi-1 img-responsive" alt="">
                                    <img src="/Content/stone/images/shop/3b.jpg" class="pi-2 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Triple Seat Sofa</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$180</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/4a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Multifunction Bed Red</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$850</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/5a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Minimalist Corner Desk</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$240</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/6a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Decorative Fabric Sofa</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$550</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/7a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a href=productt-single.html>
                                <h4>Artistic Wood Hanger</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$120</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/8a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a hreproductcut-single.html">
                                <h4>Classic Wood Chair</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$170</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/9a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <aproductprodcut-single.html">
                                <h4>White Blue Bed</h4>
                            </aproductprodcut-single.html">
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$650</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/10a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Woven Dinning Chair</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$180</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/11a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Classic Colorful Chair</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$200</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>

                    <li class="col-xl-3 col-lg-4 col-md-6 product">
                        <div class="p-inner">
                            <div class="p-images">
                                <a href="product-single.html">
                                    <img src="/Content/stone/images/shop/12a.jpg" class="pi-1 img-responsive" alt="">
                                </a>
                            </div>
                            <a href="product-single.html">
                                <h4>Rattan Triple Seat Sofa</h4>
                            </a>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$380</div>
                            <a href="#" class="btn btn-line">Add To Cart</a>
                        </div>
                    </li>
                </ul>

                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>

            </div>

            <div id="sidebar" class="col-md-3">
                <div class="widget widget_search">
                    <input type='text' name='search' id='search' class="form-control" placeholder="search product">
                    <button id="btn-search" type='submit'></button>
                    <div class="clearfix"></div>
                </div>

                <div class="widget widget_top_rated_product">
                    <h4>Top Rated Product</h4>
                    <ul>
                        <li>
                            <img src="/Content/stone/images/shop/1a.jpg" alt="">
                            <div class="text">
                                Triple Seat Sofa
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$420</div>
                            </div>
                        </li>
                        <li>
                            <img src="/Content/stone/images/shop/2a.jpg" alt="">
                            <div class="text">
                                Single Seat Sofa
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$210</div>
                            </div>
                        </li>
                        <li>
                            <img src="/Content/stone/images/shop/3a.jpg" alt="">
                            <div class="text">
                                Woven Square Chair
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$180</div>
                            </div>
                        </li>
                        <li>
                            <img src="/Content/stone/images/shop/4a.jpg" alt="">
                            <div class="text">
                                Multifunction Bed Red
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$850</div>
                            </div>
                        </li>
                        <li>
                            <img src="/Content/stone/images/shop/5a.jpg" alt="">
                            <div class="text">
                                Minimalist Corner Desk
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$240</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="widget widget_category">
                    <h4>Product Category</h4>
                    <ul>
                        <li><a href="#">Bed</a></li>
                        <li><a href="#">Cabinet</a></li>
                        <li><a href="#">Chair</a></li>
                        <li><a href="#">Desk</a></li>
                        <li><a href="#">Sofa</a></li>
                        <li><a href="#">Misc</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>



</div>

