@model Outsourcing.Data.Models.User
@{
    ViewBag.Title = "Confirm2FA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/caseno/css/ModalLoader.css">
}
<style>
  
    .2faview1 {
        margin-bottom:200px;
    }
    .breadcrumb-miscoo {
        background: #070b28;
    }

    .login-page {
        background: #070b28;
    }
</style>
<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    @*<div class="breadcrumb-img">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
        <img src="/Content/caseno/img/breadcrumb.png" alt="">
    </div>*@
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 2faview" >
                <div class="breadcrumb-content">
                    <h3 class="title">Confirm authorize to enter</h3>
                    <p>Big Player Club has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Big Player Club</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- register begin -->
<div class="register login-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 2faview1">
                <div class="reg-body">
                    <form action="/EmailFunc/Submit2FA" method="post" id="submit_confrim2fa">
                        <div class="titlelogin">
                            <left>
                                <h3 class="title" style="color:#fefefe">
                                    2FA Code
                                </h3>
                            </left>
                        </div>
                        <span id='message'></span>
                        <input type="text" name="pinCode" id="pinCode" placeholder="Code*">
                        <input type="text" name="username" value="@Model.UserName" hidden>
                        <button class="btn btn-primary" type="button" onclick="getIpLogin()" id="submit_2fa">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- register end -->
<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="loader" id="loader"></div>
</div>
<script type="text/javascript">
    function getIpLogin() {
        $('#submit_2fa').prop("disabled", true);
        $('#submit_2fa').last().html("Please waiting...");
        console.log("document.URL : " + document.domain);
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
        if ($('#pinCode').val() != "") {
            //Cập nhật ip api của admin
            $.ajax({
                type: "POST",
                url: "/EmailFunc/GetIPClient",
                data: { username: '@Model.UserName' },
                async: false,
                success: function (data) {
                    console.log(data);
                    $('#submit_confrim2fa').submit();
                    //$('#submit_login').prop('disabled', true);
                    //$('#submit_login').submit();
                }
            });
        }
        else {
            $('#message').html('Code 2FA not empty').css('color', 'red');
            $('#submit_2fa').prop("disabled", false);
            $('#submit_2fa').last().html("Confirm");
            modal.style.display = "none";
        }
    };
</script>
