@model string
@{
    ViewBag.Title = "ConfirmForgotPassAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{}
<!-- register begin -->
<div class="register login-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="reg-body">
                    <h3 class="sub-title text_ColorMe">
                        @Model <a href="/login" style="color:red;">Click login here.</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- register end -->