@model Outsourcing.Data.Models.User
@{
    ViewBag.Title = "Confirm trasactinon mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{}
<!-- register begin -->
<div class="register login-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="reg-body">
                    <h3 class="text_ColorMe">Authentication Success, Welcome @Model.UserName to Big Player Club. Please <a href="/login" style="color:#f6435e;">logins</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>