@model Labixa.Common.MessageResponeApi
@{
    ViewBag.Title = "Confirm mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{}
<!-- register begin -->
<div class="register login-page" style="padding-top:150px;background-color:#070b28">
    <div class="container" style="text-align:center">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="reg-body">
                    <h3 class="text_ColorMe" style="">
                        @Model.Message
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
