@using Labixa.ViewModels;
@{
    ViewBag.Title = "CartPays";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ListProductCartModel modelCart = (ListProductCartModel)Session["Cart"];
}
<style>
    th {
        font-family: "Quicksand",sans-serif;
    }
</style>
<section class="section section-padding" style="background-color:#f5ede6;">
    <h2 style="text-align: center; font-size: 48px; text-transform: uppercase;">Thanh toán</h2>
</section>
<div class="container">
    <div class="row learts-mb-n30">

        <div class="col-lg-6 order-lg-1 learts-mb-30" style="padding-top: 70px;padding-bottom: 50px;">
            <div class="order-review">
                <h2 style="text-align:right;">Thông tin đơn hàng</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="name">Sản phẩm</th>
                            <th class="total">Đơn giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (modelCart != null)
                        {
                            foreach (var temp in modelCart.listProduct)
                            {
                                <tr>
                                    <td class="name">@temp.ProdName&nbsp; <strong class="quantity">×&nbsp;@temp.Quantity</strong></td>
                                    @if (temp.Quantity == 0)
                                    {
                                        <td class="total"><span>@{var res = temp.Price * 1;}@res</span></td>
                                    }
                                    else
                                    {
                                        <td class="total"><span>@{var res = temp.Price * temp.Quantity;}@res</span></td>

                                    }
                                </tr>
                                }
                        }
                    </tbody>
                    <tfoot>
                        <tr class="subtotal">
                            <th>Subtotal</th>
                            <td><span>@modelCart.TotalPayment.ToString("#,##0") Đ</span></td>
                        </tr>
                        <tr class="total">
                            <th>Total</th>
                            <td><strong><span>@modelCart.TotalPayment.ToString("#,##0") Đ</span></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
        <div class="col-lg-6 order-lg-2 learts-mb-30" style="padding-top: 50px;padding-bottom: 50px;">
            <div class="order-payment">
                <div class="payment-method">
                    <div class="accordion" id="paymentMethod">
                        <div class="card active">
                            <div class="card-header">
                                <h2 style="text-align:right;">Thông tin khách hàng</h2>
                            </div>
                            <form id="checkPayments" class="collapse show" data-parent="#paymentMethod" action="/Products/CartPays" method="post">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text" name="nameCus" required placeholder="Nhập họ và tên *" />
                                        <input type="text" name="phoneCus" pattern="[0-9]{10}" required placeholder="Nhập điện thoại *" />
                                        <input type="text" name="addressCus" required placeholder="Nhập địa chỉ *" />
                                        <textarea type="text" name="noteCus" placeholder="Nhập ghi chú"></textarea>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-dark btn-outline-hover-dark">Thanh toán</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

