<!-- cta begin -->
<div class="cta">
    <div class="container">
        <div class="row justify-content-xl-between justify-content-lg-between justify-content-sm-center">
            <div class="col-xl-7 col-lg-7 col-md-8 col-sm-10">
                <h2>Bigplayer Club - Where everything are<br /> possible with  crypto gaming</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-10">
                <a href="/ware-game" class="def-btn play-now-btn">Play Now</a>
            </div>
        </div>
    </div>
</div>
<!-- cta end -->
