<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.designesia.com/themes/archi-main/index-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Mar 2021 18:33:13 GMT -->
<head>
    <meta charset="utf-8">
    <title>Archi - Creative Interior Design Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Archi is best selling interior design website template with responsive stunning design">
    <meta name="keywords" content="architecture,building,business,bootstrap,creative,exterior design,furniture design,gallery,garden design,house,interior design,landscape design,multipurpose,onepage,portfolio,studio">
    <meta name="author" content="">


    <!--[if lt IE 9]>
    <script src="/Content/stone/js/html5shiv.js"></script>
    <![endif]-->
    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="/Content/stone/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/jpreloader.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/plugin.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/style.css" type="text/css">

    <!-- custom background -->
    <link rel="stylesheet" href="/Content/stone/css/bg.css" type="text/css">

    <!-- color scheme -->
    <link rel="stylesheet" href="/Content/stone/css/colors/yellow.css" type="text/css" id="colors">
    <link rel="stylesheet" href="/Content/stone/css/color.css" type="text/css">

    <!-- load fonts -->
    <link rel="stylesheet" href="/Content/stone/fonts/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/fonts/elegant_font/HTML_CSS/style.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/fonts/et-line-font/style.css" type="text/css">

    <!-- revolution slider -->
    <link rel="stylesheet" href="/Content/stone/rs-plugin/css/settings.css" type="text/css">
    <link rel="stylesheet" href="/Content/stone/css/rev-settings.css" type="text/css">
</head>

<body id="homepage" class="de-navbar-left">

    <div id="wrapper">
        <div class="container-fluid-fluid">
            <div class="row no-gutters">
                

                    @RenderBody()
                <div id="main" class="col-lg-9 col-md-12 offset-lg-3 offset-md-0">

                    <div id="content" class="no-bottom no-top">

                        <section id="section-welcome-4" class="full-height" data-speed="3" data-type="background">
                            <div class="center-y text-center">
                                <div class="spacer-single"></div>
                                <div id="text-carousel" class="owl-carousel owl-theme text-slider fontsize40 dark border-deco">
                                    <div class="item">Welcome To Archi</div>
                                    <div class="item">Interior Design</div>
                                    <div class="item">Awards Winning</div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="purchase-now">
        <a href="../../../themeforest.net/item/archi-interior-design-website-template/10940889.html"><span>$</span>20</a>
        <div class="pn-hover">Buy Now</div>
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="/Content/stone/js/jquery.min.js"></script>
    <script src="/Content/stone/js/jpreLoader.js"></script>
    <script src="/Content/stone/js/bootstrap.min.js"></script>
    <script src="/Content/stone/js/jquery.isotope.min.js"></script>
    <script src="/Content/stone/js/easing.js"></script>
    <script src="/Content/stone/js/jquery.flexslider-min.js"></script>
    <script src="/Content/stone/js/jquery.scrollto.js"></script>
    <script src="/Content/stone/js/owl.carousel.js"></script>
    <script src="/Content/stone/js/jquery.countTo.js"></script>
    <script src="/Content/stone/js/classie.js"></script>
    <script src="/Content/stone/js/video.resize.js"></script>
    <script src="/Content/stone/js/validation.js"></script>
    <script src="/Content/stone/js/wow.min.js"></script>
    <script src="/Content/stone/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/stone/js/jquery.stellar.min.js"></script>
    <script src="/Content/stone/js/enquire.min.js"></script>
    <script src="/Content/stone/js/designesia.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>



</body>


<!-- Mirrored from www.designesia.com/themes/archi-main/index-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Mar 2021 18:33:17 GMT -->
</html>