<li class="nav-item">
    <a class="nav-link active" href="/home">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/about-us">About Us</a>
</li>
@*<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/register-account">Sign up</a>
</li>*@
