<li class="nav-item">
    <a class="nav-link" href="/ware-game">Live Game</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/account-dashboard">Dashboard</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Affiliates
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
        <a class="dropdown-item" href="/affilites">Overview Affiliates</a>
        <a class="dropdown-item" href="/my-affilites">My Affiliate</a>
    </div>
</li>
<li class="nav-item">
        <a class="nav-link" href="/affilites">Affiliates</a>
    </li>
<li class="nav-item">
        <a class="nav-link" href="/my-affilites">My Affiliate</a>
    </li>
<li class="nav-item">
    <a class="nav-link" href="/change-password">Security</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/history-transaction">History</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logoff">Logout</a>
</li>
