@model string
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{}
<!-- breadcrumb begin -->
<div class="breadcrumb-miscoo">
    <div class="breadcrumb-img">
        <img src="assets/img/breadcrumb.png" alt="">
        <img src="assets/img/breadcrumb.png" alt="">
        <img src="assets/img/breadcrumb.png" alt="">
        <img src="assets/img/breadcrumb.png" alt="">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content">
                    <h2 class="title">Email reset password to enter</h2>
                    <p>Big Player Club has thousands of free online games for all generation. Play action, racing, sports, and other fun games for free at Big Player Club</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- register begin -->
<div class="register login-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="reg-body">
                    <h3 class="sub-title text_ColorMe">
                        @Model
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- register end -->
