@model Labixa.Models.InputEmailViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link rel="stylesheet" href="~/Content/caseno/css/ModalLoader.css">
}
<style>
    .validation-summary-errors {
        color: #e7423c !important;
    }
    .Resetbutton {
        margin: 50px 0px 50px 0px;
    }

    .titlelogin {
        color: #fefefe;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin: 50px 50px 50px 0;
    }
    .login-page {
        background: #070b28;
    }
    .resetbody {
        margin-top:150px;
    }
</style>
!-- The Modal -->
<div id="myModal" class="modal">
    <div class="loader" id="loader"></div>
</div>
<div class="register login-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 resetbody">
                <div class="titlelogin">
                    <center>
                        <h3 class="title" style="color:#fefefe">
                            RESET PASSWORD
                        </h3>
                    </center>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl, message = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "submit_inputMailReset" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <h5 class="sub-title text_ColorMe">Mail reset password to your account</h5>
                    @Html.TextBoxFor(m => m.EmailReset, new { @class = "form-control", @placeholder = "Address mail*", @id = "input_email" })
                    <div class="form-group">
                        <button class="btn btn-warning Resetbutton" id="submit_emailReset" onclick="submitInputMail()">Reset</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="loader" id="loader"></div>
</div>
<!-- register end -->
<script>
    function submitInputMail() {
        $('#submit_emailReset').prop("disabled", true);
        $('#submit_emailReset').last().html("Please waiting...");
        // $('#input_email').prop("disabled", true);
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
        $('#submit_inputMailReset').submit();
    };
</script>